<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Repetition FACE-OFF</title>
        <link   rel="stylesheet"
                href="/static/bootstrap/css/slate-bootstrap.min.css">

        <style type="text/css">
            body { padding-bottom: 70px; font-size: 24px; }
            .jumbotron { background-image: url('/static/i/banner.png'); text-shadow: 2px 2px #000;}
            .hide { display: none }
        </style>
    </head>

    <body>
        <ul class="nav nav-tabs" style="font-size: 12px;">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#about" data-toggle="tab">About</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="about">
                <div class="container">
                    <h1>REPETITION FACE-OFF</h1>
                </div>
                <div class="container lead">
                    Tech:
                    <ul>
                    <li><a href="http://developer.echonest.com/">Echo Nest API</a></li>
                    <li><a href="http://rdio.com">rdio</a></li>
                    <li><a href="http://github.com/bmcfee/librosa/">LibROSA</a></li>
                    </ul>
                </div>
            </div>

            <div id="home" class="tab-pane active">
                <div class="jumbotron">
                    <h1>REPETITION FACE-OFF!</h1>
                </div>
                <div class="container text-center" id="main">
                    <p class="lead">
                        Which artist is more repetitive?
                    </p>

                    <form id="myform">
                        <div class="row">
                            <input type="text" id="artist1" placeholder="James Brown" />
                                vs.
                            <input type="text" id="artist2" placeholder="Daft Punk" />
                        </div>

                        <div class="row">
                            <button type="submit" id="fight" class="btn btn-large btn-danger">FIGHT!</button>
                        </div>
                    </form>
                </div>

                <div id="montage" class="container hide text-center">
                    <div><img src="/static/i/training.gif"></div>
                    <h3>Training for the championship. Be patient...</h3>
                </div>

                <div id="thefight" class="container hide">
                    <div class="col-md-5" id="player1box">
                        <h2 class="text-warning" id="artist1-name"></h2>
                        <div class="progress" >
                            <div id="health1" class="progress-bar progress-bar-danger" 
                                            role="progressbar" 
                                            style="width: 100%">
                            </div>
                        </div>
                        <ol id="songs-1"></ol>
                        <h1 id="player1wins" class="hide text-primary">Victory!</h1>
                    </div>
                    <div class="col-md-5 col-md-offset-2" id="player2box">
                        <h2 class="text-right text-warning" id="artist2-name"></h2>
                        <div class="progress" >
                            <div id="health2" class="progress-bar progress-bar-danger" 
                                            role="progressbar" 
                                            style="width: 100%; display: block; float: right">
                            </div>
                        </div>
                        <ol id="songs-2"></ol>
                        <h1 id="player2wins" class="hide text-primary">Victory!</h1>
                    </div>
                </div>

            </div>

        </div>

        <div class="nav navbar navbar-inverse navbar-fixed-bottom" style="font-size: 12px;">
            <div class="pull-left navbar-text">
                <a href="http://cosmal.ucsd.edu/~bmcfee/">Brian McFee</a>, 2013.
                <p>
                <a href="https://twitter.com/functiontelechy">@functiontelechy</a>
                </p>
            </div>
            <div class="pull-right">
                <img src="/static/i/EN_P_on_Dark_Transparent_Horizontal.png">
                <img src="/static/i/RdioWhiteLogo.png" style="height: 28px; padding-left:16px;">
            </div>
        </div>
        <div class="hide" id="player"></div>
    </body>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/tab.js"></script>
    <script type="text/javascript" src="/static/js/swfobject.js"></script>
    <script type="text/javascript" src="/static/js/rfo.js"></script>
</html>
