<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Repetition FACE-OFF</title>
        <link   rel="stylesheet"
                href="/static/bootstrap/css/slate-bootstrap.min.css">

        <style type="text/css">
            body { padding-bottom: 70px; }
            .jumbotron { background-color: #4B2F61 ; }
        </style>
    </head>

    <body>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#about" data-toggle="tab">About</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="mashes">
                <div class="container">
                   <ul class="list-unstyled" id="mashlist">
                   </ul>
                </div>
            </div>

            <div class="tab-pane" id="about">
                    <div class="container">
                        <h1>REPETITION FACE-OFF</h1>
                    </div>
                    <div class="container">
                        <div class="pull-right lead">
                            Tech:
                        </div>
                    </div>
            </div>

            <div id="home" class="tab-pane active">

                <div class="jumbotron">
                    <p class="lead small pull-right">
                    Which artist is more repetitive? Find out!
                    </p>
                </div>

            </div>

        </div>

        <div class="nav navbar navbar-inverse navbar-fixed-bottom">
            <div class="pull-left navbar-text">
                <a href="http://cosmal.ucsd.edu/~bmcfee/">Brian McFee</a>, 2013.
                <p>
                <a href="https://twitter.com/functiontelechy">@functiontelechy</a>
                </p>
            </div>

        </div>
    </body>
    <script type="text/javascript" src="/static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap-tab.js"></script>
<!--     <script type="text/javascript" src="/static/js/rfo.js"></script> -->
</html>
