<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mend-a-break</title>
        <link   rel="stylesheet"
                href="/static/bootstrap/css/cyborg-bootstrap.min.css">

        <style type="text/css">
            fieldset {
                padding: 12px;
            }
            .hero-unit {
                background-image: url(/static/i/amen.png);
                background-repeat: no-repeat;
            }
            body {
                color: #dedede;
            }
        </style>
    </head>

    <body>
        <div class="hero-unit">
            <h1>Mend-a-break</h1>
        </div>

        <div class="container lead">
            <p class="lead">
            Reconstruct any song using samples from <a href="http://www.youtube.com/watch?v=jo1B4f7ao-Q">the Amen break</a>.
            </p>
        </div>

        <div class="pull-right" style="padding: 32px;">
        <h3>About</h3>
<p>The <a href="http://www.youtube.com/watch?v=5SaFTm2bcac">Amen Break</a> appears in 
<a href="http://www.whosampled.com/sampled/The%20Winstons/?ob=4">all</a> 
<a href="http://www.youtube.com/watch?v=bKiQHT-6vYs">kinds</a> 
<a href="http://www.youtube.com/watch?v=fVyVIsvQoaE">of</a> 
<a href="http://www.youtube.com/watch?v=ytPOSx5ef8w">music</a>, often surrounded by superfluous <a href="http://www.youtube.com/watch?v=xfZrXykhDnE">ornamentation</a>.</p>

<p>This hack regenerates any recording using only samples from the Amen break.</p>
        </div>
        <div class="well">
            <form   action="/upload"
                    method="post" 
                    enctype="multipart/form-data"
                    class="navbar-form">

                <fieldset>
                <input  type="file" 
                        name="data" 
                        id="file-selector"
                />
                </fieldset>

                <fieldset>
                <input  type="text" 
                        name="title" 
                        style="width: 40em;"
                        id="song-title"
                        placeholder="Track title" 
                        />
                </fieldset>

                <fieldset>
                <label>
                    <span class="pull-left">Less breaky</span>
                    <input  type="range" 
                            name="breakiness" 
                            min="0.05" max="0.85" step="0.05"
                            value="0.25" 
                            />
                    <span>More breaky</span>
                </label>
                </fieldset>

                <button type="submit" 
                        class="btn btn-primary btn-large pull-left disabled"
                        disabled="disabled">Break!</button>
    
            </form>
        </div>
    <div class="pull-left">
        <a href="http://cosmal.ucsd.edu/~bmcfee/">Brian McFee</a>, 2013.
        <p>
        <a href="https://twitter.com/functiontelechy">@functiontelechy</a>
        </p>
    </div>
    <div>
        <img class="pull-right" src="http://developers.soundcloud.com/assets/powered_by_large_white-de881ecad8561c2131e7676fa9e92738.png" alt="[powered by Soundcloud]" />
    </div>
    </body>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script> 
    <script type="text/javascript"> 
        google.load("jquery", "1.7");
    </script>

    <script type="text/javascript" src="/static/js/ui.js"></script>
</html>
