<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Frankenmasher 2000</title>
        <link   rel="stylesheet"
                href="/static/bootstrap/css/slate-bootstrap.min.css">

        <style type="css">
            body { padding-bottom: 70px; }
        </style>
    </head>

    <body>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#mashes" data-toggle="tab">Frankenmashes</a></li>
            <li><a href="#about" data-toggle="tab">About</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="mashes">
                <div class="container">
                   <ul class="list-unstyled" id="mashlist">
                   </ul>
                </div>
            </div>

            <div class="tab-pane" id="about">
                <div class="hero-unit">
                    <h1>FRANKENMASHER<small>2000</small></h1>
                    <div class="container">
                        <div class="pull-left">
                        <img src="/static/i/frankenmasher.png" alt="[frankenmasher diagram]" />
                        </div>
                        <div class="pull-right lead">
                            Tech:
                            <ul>
                                <li>Audio processing: <a href="http://github.com/bmcfee/librosa/">LibROSA</a></li>
                                <li>Phase vocoding in librosa-develop</li>
                                <li>Source separation: <a href="http://arxiv.org/abs/0912.3599">Robust PCA</a> (<a href="https://github.com/bmcfee/ml_scraps/blob/master/rpca.py">src</a>)
                                <li>Storage: <a href="http://soundcloud.com/">Soundcloud</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="home" class="tab-pane active">

                <div class="jumbotron">
                    <ol class="lead small pull-right">
                        <li>Extract the instruments from song A.</li>
                        <li>Extract the vocals from song B.</li>
                        <li>Commit sonic atrocities.</li>
                    </ol>
                    <h1>FRANKENMASHER<small>2000</small></h1>
                </div>

                <div class="container">
                    <form   action="/upload"
                        method="post" 
                        enctype="multipart/form-data"
                        class="navbar-form">

                        <div class="row">
                            <div class="well pull-left col-lg-6 ">
                                <h2>Song A (instruments)</h2>
                                <input  type="file" 
                                        name="song_B" 
                                        id="file-selector-B"
                                />
                            </div>
                            <div class="well pull-right col-lg-6">
                                <h2>Song B (vocals)</h2>
                                <input type="file"
                                        name="song_A"
                                        id="file-selector-A"
                                />
                            </div>
                        </div>

                        <div class="row well">
                            <div class="col-lg-2 pull-left"><h4>Less vocals</h4></div>

                            <div class="col-lg-8">
                                <input  type="range" 
                                        name="alpha" 
                                        min="0.05" max="0.95" step="0.05"
                                        value="0.80" 
                                        style="width: 100%;"
                                />
                            </div>

                            <div class="pull-right col-lg-2"><h4>More vocals</h4></div>
                        </div>

                        <div class="row">
                            <input  type="text" 
                                    name="title" 
                                    class="col-lg-10"
                                    id="song-title"
                                    placeholder="Mashup title" 
                            />

                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary btn-lg pull-left">Mash!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="nav navbar navbar-inverse navbar-fixed-bottom">
            <div class="pull-left navbar-text">
                <a href="http://cosmal.ucsd.edu/~bmcfee/">Brian McFee</a>, 2013.
                <p>
                <a href="https://twitter.com/functiontelechy">@functiontelechy</a>
                </p>
            </div>

            <img class="pull-right" src="http://developers.soundcloud.com/assets/powered_by_large_white-de881ecad8561c2131e7676fa9e92738.png" alt="[powered by Soundcloud]" />
        </div>
    </body>
    <script type="text/javascript" src="/static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="/static/js/soundcloud.js"></script>
    <script>
        SC.initialize({
            client_id: "{{ client_id }}",
            redirect_uri: null,
        });
    </script>
    <script type="text/javascript" src="/static/js/frankenmasher.js"></script>
</html>
