body, html { 
    font-family:        'Coming Soon', cursive; 
    font-size:          10pt;
    height:             100%;
    overflow:           hidden;
}

body {
    background-color:   white;
    margin:             0px;
    padding:            0px;
}

.ui-autocomplete {
    max-height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
}
.ui-autocomplete-loading { 
    background:         #eeeeec url('/static/i/loader.gif') right center no-repeat; 
}

#toolbar {
    width:              100%;
    text-align:         center;
    margin:             0;
}

#album-art {
    width:             100%;
    margin:             0;
    padding:            0;
}

#main, #searchbox {
    width:              80%; 
    margin:             0px 10%; 
}

#main {
    height:             100%; 
    color:              black;
    background-color:   white;
}

#searchbox {
    background-color:   #555753;
    color:              #eeeeec;
    text-align:         right;
    border-bottom:      solid 1px black;
    font-weight:        bold;
}

#metadata {
    width: 100%;
    margin: 0px;
    padding: 4px;
}

img.playing {
}

.artistName {
    font-weight: bold;
}
.songTitle {
    font-weight: normal;
}
.albumTitle {
    font-weight: normal;
}

.hidden {
    display: none;
}

#artist-image {
    max-width: 200px;
    max-height: 400px;
    float: left;
    margin: 0px 4px;
}

#artist-info {
    padding: 8pt;
    overflow-y: auto;
    height: 80%;
}

.artist-bio {
    text-align: justify;
    text-justify: inter-word;
}

a:link{
    color:      #729fcf;
    font-weight: bold;
}

a.artist-tag:hover {
    text-decoration: underline;
}

.update{
    color: red;
}
#no-songs-message {
        text-align: center;
        padding: 8pt;
}

.ui-dialog-titlebar {display:none}
