<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>A.L.</title>
        <link   rel="stylesheet"
                href="/static/bootstrap/css/slate-bootstrap.min.css">

        <style type="text/css">
            body { padding-bottom: 70px; font-size: 18px; }
/*             .jumbotron { background-image: url('/static/i/banner.png'); text-shadow: 2px 2px #000;} */
            .hide { display: none }
        </style>
    </head>

    <body>
    </body>

    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/tab.js"></script>
</html>
