<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>A.L.</title>
        <link   rel="stylesheet"
                href="/static/bootstrap/css/cyborg-bootstrap.min.css">

        <style type="text/css">
            body { padding-bottom: 70px; font-size: 18px; }
            .hide { display: none }
            ul {
                -moz-column-count: 3;
                -webkit-column-count: 3;
                column-count: 3;
            overflow:hidden;            
            }


            li:hover {
                color: white;
                background: blue;
            }

            .hide { display: none }

        </style>
    </head>

    <body>
        <div class="jumbotron">
            <div class="pull-right">
                <form id="myform">
                    <input type="text" id="query" size="50" placeholder="Weclome to the jungle" />
                    <button type="submit" id="search" class="btn btn-large
                    btn-danger"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
            <h1>Yankomatic!</h1>
            <p class="lead">
            Foodify your song
            </p>
        </div>
        <div class="content hide" id="noresults">
            <h3 class="text-danger">No search results... that's not funny.</h3>
        </div>
        <div class="content">
            <ul id="results" class="list-group"></ul>
        </div>
    </body>

    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/tab.js"></script>
    <script type="text/javascript" src="/static/js/yankomatic.js"></script>
</html>
